/* *{
    box-sizing: border-box;
} */

.list_items {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly ;
}

.list_items-wrap {
    padding-top: 80px;
}

@media (max-width: 991px) {
    .list_items {
        width: 690px;
    }

    .list_items-wrap {
        padding-top: 50px;
    }
}

@media (max-width: 767px) {
    .list_items {
        width: 510px;
    }
}

@media (max-width: 575px) {
    .list_items {
        width: 100%;
    }

    /* .list_item {
        margin: 0 auto;
        margin-bottom: 1000px;
    } */
    
}