.clear_filters {
    position: absolute;
    right:-40px;
    top: 20px;
    color: #ffa1ab;
    height: 20px;
    width: 95px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);;
}

@media (max-width: 767px) {
    .clear_filters {
        right:0px;
    }
}