@font-face {
  font-family: 'Merienda';
  font-weight: 700;
  src: url('fonts/Merienda-Bold.ttf');
}

@font-face {
  font-family: 'Merienda';
  font-weight: 400;
  src: url('fonts/Merienda-Regular.ttf');
}

body { 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
 }
 
*{
  font-family: 'Merienda';
  /* font-weight: 700; */
}

code {
  font-family: merienda;
}
